body
{
    margin: 0;
   /* font-family:Arial, Helvetica, sans-serif;*/
}
.header
{
    width: 100%;
    height: 100vh;
    background-image: url("background.png");
    background-position: center;
    background-size: cover;
}
.logo
{
    float: left;
    width: 50%;
    height: 28%;
}
.options
{
    float: left;
    width: 50%;
    height: 28%;
}
li{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.tinder-img
{
    margin-left: 102px;
    margin-top: 43px;
    width: 164px;
}
.select-options{
    margin-left: 100px;
    margin-top: 79px;
}
.home
{
    margin-left: 55px;
    color: white;
}
.home:hover{
    color: red;
}
.text-part
{
    padding-top: 300px;
    padding-left: 108px;
}
.heading
{
    font-size: 50px;
    color: white;
    text-transform: capitalize;
}
.know-more
{
    width: 250px;
    height: 50px;
    background-color:rgb( 217, 39, 20);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 14px;
}